<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eeea.eeeaapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".EEEAPP"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/invention_launcher"
        android:label="AmpUp"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Register" />
        <activity
            android:name=".Main_activity"
            android:label="@string/title_activity_main_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".New_post" />
        <activity android:name=".mainpage"
            android:label="Home"/>
        <activity android:name=".notes"
            android:label="Notes"/>
        <activity android:name=".notification"
            android:label="Announcements"/>
        <activity android:name=".user"
            android:label="Profile"/>
        <activity android:name=".password" />
        <activity android:name=".aboutus"
            android:label="About Us"/>
        <activity android:name=".add_notification"></activity>
    </application>

</manifest>